/* .button-container{
  text-align: center;
}

.disp-img{
  border: 5px solid #f7d16e;
}

.button-container .btn-camera{
  background-color: #f7d16e;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border:none
}

.btn-download{
  background-color: #f7d16e;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border:none;
  margin-left: 20px;
}

.btn-download a{
  font-size: 24px;
  color: #fff;
}

.button-container .btn-camera .icon-camera{
  font-size: 30px;
  color: white;
} */

.button-container{
  text-align: center;
  padding-top: 1%;
}

.disp-img{
  border: 5px solid #f7d16e;
}

.button-container .btn-camera{
  background-color: #f7d16e;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border:none
}

.btn-download{
  background-color: #f7d16e;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border:none;
  margin-left: 20px;
}

.button-container .btn-camera .icon-camera{
  font-size: 30px;
  color: white;
}

.button-container .btn-download .icon-camera{
  font-size: 30px;
  color: white;
}