.button-container{
  text-align: center;
}

.disp-img{
  border: 5px solid #7CB9E8;
}

.button-container .btn-camera{
  background-color: #7CB9E8;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border:none
}

.btn-download{
  background-color: #7CB9E8;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  border:none;
  margin-left: 20px;
}

.btn-download a{
  font-size: 24px;
  color: #fff;
}

.button-container .btn-camera .icon-camera{
  font-size: 30px;
  color: white;
}